<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02playLocalVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>265B9AFB1E064C7600517C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265B9B0F1E064C7700517C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265B9B1A1E064C7700517C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
